# GLOBAL
node_modules/
.env
*.log

# BACKEND
backend/node_modules/
backend/.env
backend/dist/
backend/.vite/

# FRONTEND
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/.vite/

# DASHBOARD
dashboard/node_modules/
dashboard/.env
dashboard/dist/
dashboard/.vite/

# IDE FILES
.vscode/
.idea/
.DS_Store
Thumbs.db
